
@mixin bordered{
  border: 4px solid $black; 
  border-radius: 2px;
}
@mixin shadowed{
  box-shadow: 4px 4px 0px 2px $black;
}

@mixin title{
  font-weight: 1000;
  text-transform: uppercase;
}
@mixin card {
  @include bordered();
  @include shadowed();
  h1, h2, h3, h4, h5, h6{
    @include title();
    @include bordered();
    border-width: 0px 0px 1px 0px;
    background-color: cyan;
    text-align:  center;
    align-items: center;
    padding: 15px;
  }
  max-width: max-content; 
  max-height: max-content; 
  display: block;
}
