@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;1,200&family=Righteous&display=swap");
.card, html body footer, html body section main, html body section aside, html body header {
  padding: 0px;
  border: 1px solid lightgray;
  border-radius: 16px;
  box-shadow: 2px 2px 10px lightgray;
  background-color: linear-gradient(to right bottom, white, lightgray);
}

.align-flex, .align-flex-h, html body section aside, html body section, html body header, .align-flex-v, html body section aside nav, html body {
  display: flex;
}

.align-flex-v, html body section aside nav, html body {
  flex-direction: column;
  height: 100%;
}

.align-flex-h, html body section aside, html body section, html body header {
  flex-direction: row;
  width: 100%;
}

@keyframes cool-showup {
  from {
    position: relative;
    left: -20px;
  }
  to {
    left: 0px;
    position: static;
  }
}
.cool-show, .card, html body footer, html body section main, html body section aside, html body header {
  animation: cool-showup 300ms ease-in;
}

html {
  font-family: "Jost";
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
html body header {
  border: 1px solid lightgray;
  margin: 10px;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 3px 3px 16px lightgray;
}
html body section aside {
  border: none;
  border-radius: 18px;
  position: relative;
  width: 30%;
  height: fit-content;
  overflow: hidden;
  background: linear-gradient(to bottom right, #4d4c5e, #15151a);
  margin-left: 10px;
  color: whitesmoke;
}
html body section aside nav {
  box-sizing: border-box;
  width: 86%;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 20px;
  border: none;
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(to right bottom, lightgray, white);
  color: black;
}
html body section aside nav a {
  display: block;
  padding: 10px;
  color: white;
  transition: 150ms ease-in-out;
  transition-property: color, background-color;
}
html body section aside nav a:hover {
  background-color: whitesmoke;
  color: black;
}
html body section aside nav details {
  box-sizing: border-box;
  padding-left: 14px;
}
html body section aside div {
  position: absolute;
  right: -1px;
  top: -1px;
  padding: 10px 10px;
  width: fit-content;
  height: 100%;
}
html body section aside div button {
  border-radius: 8px;
  border: 1px solid;
  background: linear-gradient(to right bottom, lightgray, white);
  width: max-content;
  transition: 300ms ease;
  padding: 10px;
  transition-property: background;
}
html body section aside div button img {
  align-content: center;
  justify-content: center;
  color: whitesmoke;
}
html body section aside div button:hover {
  background: linear-gradient(to right bottom, gray, lightgray);
}
html body section main {
  padding: 40px;
  margin: 0px 10px;
}
html body footer {
  position: relative;
  padding: 20px;
  flex-grow: 1;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background: linear-gradient(to bottom right, #464646, #2e2c3a);
  color: white;
  border: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/*# sourceMappingURL=index.css.map */
