*{
    
   h1, h2, h3, h4{
      position: relative;
      left: -10px;
   }
   @include shadowed();
   box-sizing: border-box;
   background-color: whitesmoke;
   padding: 20px;
   width: 100%;
   align-self: center;
   text-align: justify;
   
}