$bg-color-1: rgba(13, 0, 38, 0.864);
$fg-color-1: rgba(255, 255, 255, 0.905);
$bg-color-2:  rgba(0, 20, 85, 0.864);
$fg-color-3: hsl(180, 7%, 9%);
$bg-color-3: rgb(221, 255, 248);
$fg-color-2: hsl(344, 100%, 50%);
$fg-color-4: hsl(53, 90%, 59%);