@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import 'color-theme';
@import 'my-tools';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


$impact-font:     'Impact';
$futura-font:     'Josefin Sans';
$inter-font:      'Inter';
$righteous-font:  'Righteous';


$mono-font:       $futura-font;
$sans-serif-font: $futura-font;
$title-font:      $righteous-font;
html *{
  color: inherit;
  background-color: inherit;
  font-family: $sans-serif-font;
  box-sizing:      inherit;
  border-collapse: collapse;
  }
html{
  background-color: $bg-color;
  color:            $fg-color;
}
body{
  width:100% !important;

}