
& {
  @extend .col-12;
  width: 100vw;
  padding: 20px;
  margin: 0px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  
  h1, h2, h3, h4, h5 {
    font-weight: 100;
  } 

  color: white;
  background-color: black;
  
}