
nav, nav *{
   box-shadow: none;
   display: flex;
   box-sizing: content-box;
   flex-direction: row;
   align-self: flex-end;

   a, details {
      box-sizing: border-box;
      display: block;
      width: 200px;
      height: 100px;
      vertical-align: bottom;
      transition: background-color 100ms ease-in;
   & :hover{
      background-color: $gray-400;
      color: $fg-color-2; 
   }

 }  

     details{
      position: relative;
      display: flex;
      flex-direction: column;
      &>*{
         position:absolute;
         
      }
      summary{
         position:relative;
      }
   }
}