nav {
  list-style: none;
  list-style-type: none;
  background-color: $gray-300;
  padding: 20px;
  details {
    background-color: $blue-100;
    box-sizing: border-box;
    height: initial;
    summary {
      list-style: none;
    }
  }
  
  details[open]{
    min-height: fit-content; 
    transition: height 200ms ease-in-out;

  }
}