nav {
  list-style-type: none;
  background-color: $gray-300;
  padding: 20px;
  ul{
    box-sizing: content-box;
    li{
      box-sizing: border-box;
      list-style: none; 
      details {
        > * {
          position: static;
          display: block;
        }
        summary {
          list-style: none;
          font-weight: bolder;
          } 
        }
      }
    }
  }