@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./color-theme.scss";

$header-font:     'Impact';
$sans-serif-font: 'Josefin Sans';

html *{
  background-color: inherit;
  color: inherit;
  box-sizing: content-box;
  font-family: $sans-serif-font;
  }



body {
  margin: 0px;
  box-sizing: border-box;
  width: 100vw;
  color: whitesmoke;
  background-color: darkslategray; 
  header{
    background-color: black;
    h1{
      font-family: $header-font;
    }
  }
}

