/*This file aims to provide some basic formatting, because html's native just sucks lmao*/
html {
  background-color: white;
}
html * {
  font-family:      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding:          4px;
  margin:           0px;
  font-size:        1.05em;
  background-color: #f5f5f5;
  border-collapse: collapse;
  color:            #222222;
  border-radius:    2px;
  text-anchor:      middle;
}

label{
  font-weight: bold;
  font-size: smaller;
  display:block;
}
h1, h2, h3, h4, h5, h6
{
  text-transform: uppercase;  
}
.bordered {
  border:           1px solid lightgray;
}
.shadowed, button{
  margin:           2px;
  box-shadow:       0.5px 0.5px 2px #808080F0;
}
.h-section {
  border-radius:    0px;
  box-shadow:       0px 2px 7px #808080F0;
  margin:           -1px;
  margin-bottom:    10px;
  display:          block;
  box-sizing:       border-box;
}
.discrete-separator, .v-discrete-separator {
  border:   1px solid lightgray;
  margin:   10px;
  padding:  20px;
  display:  block;

}
.v-discrete-separator{
  border-width:   0px 1px;
  margin:         0px 10px;
  border-radius:  0px;
}
.h-discrete-separator{
  border-width:    1px  0px;
  margin:          10px 0px;
  border-radius:  0px      ;
}
input, textarea, button {
  background-color: white;
  border-radius: 3px;
  border-width:  1px;
  margin:        3px;
}