			/*Some base definitions first */
			* {
			  box-sizing: 		border-box;
			  background: 		inherit;
			  color: 					inherit;
			  font-family: 		Roboto, Tahoma, sans-serif, Arial, Helvetica, sans-serif;
			}
			
			body {
				color: 						#d0b7ff;
			  background-color:	#030318;
			}

			p	{
				color: #d0b7ff;

			}
			a	 {
				color: #38FDB2;
			}
			
			h2, h3, h4, h5, h6 {
				color: 	     	#00fbff;
				font-family: 	Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
				display:   		inline;
			}
			
			input, textarea, button{
				background-color: #e62dc7;
				color: 						white;
				border: 						1px solid #00fbffcc;
				text-align: 				left;
				font-weight: light;
			}

			p.empty-menu{
				font-style: 	oblique ;
				text-align:		center	;
				font-weight: 	lighter ;
				font-size: 		smaller	;
			}

			/* Style the header */
			header {
			  padding: 						30px;
			  text-align: 				center;
			  font-size: 					35px;
			  color: 						#00f7ff;
			  background-color: #0d0221;
			}

			/* Style all the nav lists */
			nav ul, nav ol{
			  list-style-type: 	none;
			  padding:					10px;
				padding-right:		0px;
				margin-right:			0px;
			  border-left: 			2px solid #4d3f6b;
			}
			nav li{
				padding:				2px;
				padding-left:		5px;
				padding-bottom:	7px;
			}

			/*  Style the main nav-list */ 
			nav#main-links-nav {
				box-sizing: 		border-box;
			  float: 					left;
			  width: 					30%;
			  background: 		#160338;
				padding:				40px;
			  padding-right:	20px;
				
			}
			nav#main-links-nav h3, h4, h5, h6 {
				color: #FFC831;
			}

			article {
			  float: 			left;
			  padding: 		20px;
			  width: 			70%;
			  background: #11002e;
				text-align:	justify;
			}
			article h2 {
				color: #d40078;
			}

			article p {
				padding-left: 	50px;
				padding-right: 	50px;
			}


			/* Style the footer */
			footer {
			  background:	#0d0221;
			  align-items: 	 stretch;
			  padding: 40px;
			  
			  clear: both;
			  display: table;
			  width: 100%
			}

			footer section {
				box-sizing: border-box;
				width: 50%;
				float:left;
				padding-left: 5%;
				padding-right: 10%;
			}
			footer section summary{
				display: list-item;
				text-align:left;
			}
			footer section summary h2, h3, h4, h5{
				display:inline;
			}
			
			/*	Now we deal with the social media nav	*/
     	nav#social-media-links-nav ul{
				border-left-width: 10px;
				border-left-color:whitesmoke;
      }
			nav#social-media-links-nav li{
				padding:10px;
				margin-bottom: 5px;
				display: block;
				width: 100%;
				background-color: #4210a7;
				text-anchor: middle;
			
			}
		    nav#social-media-links-nav li a img {
				display:inline-flex;
			}

			form{
				padding: 20px;
				
			}
			form div{
				margin-bottom: 20px;
			}
			form textarea, form button, form input{
				box-sizing: border-box;
				width: 100%;
			}
			form label {
				display: 		block;
				font-size: 		smaller;
				font-weight: 	lighter;
				text-transform: uppercase;
				text-align:		center;
			}

			/* Clear floats after the columns */
			section::after {
			  content: "";
			  display: table;
			  clear: both;
			}

			/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
			@media (max-width: 800px) {
			  nav#main-links-nav, article, footer section {
					width: 100%;
					height: auto;
			  }
			}
